body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

h1 {
    margin: 20px 0;
}

form {
    margin: 20px auto;
}

#gameBoard {
    display: grid;

    gap: 0.3rem;
    width: 30rem;
    height: 30rem;
    background-color: #0000ff;
    margin: 20px auto;
    box-sizing: border-box;
}

.cell {
    
    
    /* position: relative; */
    background-color: #f41515;
    border: 1px solid #0000ff;
    cursor: pointer;
    max-width: 100%;
    max-height:100% ;


    /* Flexbox for centering content */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
}